[core]
    editor = nvim
    fileMode = false
[color]
    ui = auto
[pull]
	rebase = merges
[fetch]
	prune = true
[alias]
	pushfwl = push --force-with-lease
	wdiff = diff --word-diff
	sdiff = diff --staged
	logog = log --oneline --graph
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %<(72,trunc)%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %<(72,trunc)%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pub = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
[rebase]
	autostash = true
[diff]
    algorithm = histogram
    colorMoved = default
[merge]
    conflictstyle = diff3
[include]
    path = ./.gitconfig_delta
